body {
      font-amily: 'Roboto', Arial, sans-serif;
      background-image: url('/static/images/cpbg.png');
      background-size: cover;
	    background-position: center;
  	  background-attachment: fixed;
      margin: 0;
      padding: 0;
      font-size: 1.0em;
	    font-weight: bold;
	    color: white;
        }


.container {
      padding: 20px;
      background-color: rgba(11, 11, 11, 0.5);
      max-width: 1200px;
      margin: auto;
      border-radius: 10px;
}

.gridcontainer {
	display: grid;
	grid-template-columns: auto auto auto;
  	padding: 10px;
}


.header {
      text-align: center;
      margin-bottom: 20px;
        
}

.artifact-slots{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
      	gap: 10px;
      	margin-top: 20px;
	width: 45px;
	
}

 
.totals {
      margin-top: 20px;
        
}
        
.totals div {
      margin-right: 20px;

        }

 
.grid {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 10px;
      margin-top: 20px;

        }

        
.artifact-container {
      text-align: center;
	    color: blue;

        }

        
.artifact-container img {
        width: 120px;
        height: 120px;
        object-fit: contain;
        }

        
.artifact-selection {
            margin-top: 40px;

        }

        
.manual-inputs {
            margin-top: 20px;
            padding: 20px;
            background-color: rgba(140, 140, 140, 0.4);
            border-radius: 10px;

        }

        
.manual-inputs label {
      display: inline-block;
      margin: 10px 0;
	    width: 47px;
	    height: 30px;

        }
